.nav{
    text-align:center;
}
.quickstart-toc{
    padding-top:20px;
    padding-right:20px;
    width:auto; 
    height: auto;
    z-index: 10;
    position: fixed;
    top: 70px;
    right: 1%;
    border: solid 1px #eee;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    border-radius: 0.4em;
}
